@font-face {
	font-family: JetBrainsMono;
	src: url(../assets/fonts/JetBrainsMono-VariableFont_wght.ttf);
}
@font-face {
	font-family: JetBrainsMono;
	src: url(../assets/fonts/JetBrainsMono-Italic-VariableFont_wght.ttf);
	font-style: italic;
}
@font-face {
	font-family: JetBrainsMono;
	src: url(../assets/fonts/JetBrainsMono-Bold.ttf);
	font-weight: bold;
}
@font-face {
	font-family: JetBrainsMono;
	src: url(../assets/fonts/JetBrainsMono-BoldItalic.ttf);
	font-weight: bold;
	font-style: italic;
}
